@using ImageGallery.HtmlHelpers
@model ImageGallery.Models.ImageListViewModel

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/lightbox.css")
@Styles.Render("~/Content/Site.css")


@using (Ajax.BeginForm("Gallery", "Home", new AjaxOptions { UpdateTargetId = "result" }))
{
<div id="result">
    @Html.Action("Gallery","Home",Model.PagingInfo.CurrentPage)
</div>
}

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/lightbox-plus-jquery.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")